.form-group {
    display: flex;
    width: 35rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

input,
textarea {
    width: 100%;
    font-size: 1.4rem;
    color: #000;
    background-color: #ffd3de;
    resize: none;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 0.5rem;
}

textarea {
    min-height: 180px;
}

.contact-button {
    padding: 10px 20px;
    background-color: #7A003B;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    height: 3.5em;
    width: 40%;
    margin-top: 1.5em;
    z-index: 1;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

.contact-button:hover {
    background-color: #29001E;
}

.contact-button:active {
    transform: translateY(-4px);
}
