.ParticleBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section {
  position: relative;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.section__title {
  font-size: 4rem;
  font-weight: 1000;
  color: #FF0045;
  z-index: 1;
  font-family: "Black Ops One";
  letter-spacing: 0.1rem;
}

.section__subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 4rem;
  z-index: 1;
  font-family: "Black Ops One";
}

.about__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 1rem;
  width: 60%;
  z-index: 1;
}

.about__img {
  width: 100%;
  max-width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
  pointer-events: none;
}

.about_data {
  z-index: 1;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  gap: 3rem;
  margin-bottom: 20px;
}

.about__box {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1.5rem 1.25rem;
  width: 11em;
  z-index: 1;
  color: #29001E;
  transition: transform 0.3s ease;
  animation: slideFromLeft 0.5s ease-in-out forwards;
  opacity: 0;
}

.about__box:nth-child(2) {
  animation-delay: 0.2s;
}

.about__box:nth-child(3) {
  animation-delay: 0.4s;
}

.about__box:hover {
  cursor: pointer;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 5;
  }
}

.CVbutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7A003B;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  height: 3.5em;
  width: 15em;
  margin-top: 2em;
  z-index: 1;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.CVbutton:hover {
  background-color: #3c012c;
  transform: translateY(-5px);
}

.button--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__description {
  padding: 0.8rem 1rem 0 0;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  z-index: 1;
  color: #ffffff;
}

.CVtext {
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .about__container {
    width: 80%;
  }

  .about__info {
    grid-template-columns: repeat(3, 120px);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .section__title {
    font-size: 3rem;
  }

  .section__subtitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .about__container {
    grid-template-columns: 1fr;
    width: 90%;
    row-gap: 2rem;
  }

  .about__info {
    grid-template-columns: repeat(2, 120px);
    gap: 2rem;
  }

  .about__box {
    width: 10em;
  }

  .CVbutton {
    width: 12em;
    font-size: 1rem;
  }

  .about__description {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
  }

  .section__subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .about__info {
    grid-template-columns: 1fr;
  }

  .about__box {
    width: 100%;
  }

  .CVbutton {
    width: 100%;
    font-size: 1rem;
  }

  .about__description {
    font-size: 1rem;
  }
}
