
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative; 
}

.profile-image {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  pointer-events: none;
  
}
  


.home-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  top: 0; 
  left: 0; 
  width: 100%;
  z-index: 2;
}


.home-text h1 {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #64fddb;
}
.heading-name .main-name {
  font-size: 4rem;
  font-weight: 1000;
  color: #fff;
  z-index: 3;
  font-family: "Black Ops One";
  letter-spacing: 0.07em; 
}

.type-container  {
  font-size: 3;
  font-weight: 500;
  color: #fff;
  z-index: 3;
  margin-bottom: 3%;
}
.type-container strong {
  color: #FAB607;
  font-size: 3;
  font-weight: 700;
  display: inline-block;
}

.home-about-social {
  text-align: center;
  color: white;
}


