.projects-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  .projects-content {
    width: 80vw;
  }
  
  .projects-heading {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
  }
  
  .radio-group {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }
  