nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 2;
    background-color: rgba(9, 21, 44, 0.7); 
    height: 7vh;

}

.harshit-goel {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.harshit-goel:hover {
    color: #00FF77;
    cursor: pointer;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    padding: 0 20px;
    position: relative;
    list-style-type: none;
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative; 
    transition: color 0.3s ease-in-out; 
}

#navbar li a::after {
    content: '';
    width: 0; 
    height: 2px;
    background-color: #00FF77;
    position: absolute;
    bottom: -4px;
    left: 0%; 
    transition: width 0.3s ease; 
}

#navbar li a:hover::after,
#navbar li a.active::after{
    width: 100%; 
    color: #00FF77;
}

#navbar li a:hover 
#navbar li a.active {
    color: #00FF77; 
}
